{% extends 'default_layout.html' %}

{% block content %}
    <div class="arr-top-container">
    <div class="size-wrap">
        <h2 class="arr-post-title">
            {{ category.name|title }}
        </h2>

        <div class="arr-post-content">
            {% if posts|length %}
                {% for item in posts %}
                    <div class="arr-post-item">
                        <h3>
                            <a href="/{{ item.id }}/{{ item.alias }}">{{ item.title|title }}</a>
                        </h3>

                        <div class="arr-post-meta">
                            <span><i class="fa fa-calendar"></i> {{ item.created_at|date('M j, Y') }} </span>
                            <span><i class="fa fa-user"></i> By {{ item.user.display_name }} </span>
                        </div>

                        <div class="arr-post-intro">{{ item.intro_text|safe }}</div>

                        <a class="btn btn-primary arr-btn-flat"
                           href="/{{ item.id }}/{{ item.alias }}">Read more ...
                        </a>
                    </div>
                {% endfor %}

                {% set basePageURL = '/category/' +   category.alias + '/page-{page}/' %}
                {{ totalPage|pagination(currentPage, basePageURL)|safe }}
            {% else %}
                <h3>Message: Category Empty</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}