{% extends 'default_layout.html' %}
{% block cssExtends %}
    <link rel="stylesheet" href="/arrowjs/js/jpages/css/jPages.css">
{% endblock %}
{% block content %}
<div class="arr-top-container">
    <div class="size-wrap">
        <h2 class="arr-post-title">
            Found {{ total }} results for: <b style="color: #FF0000">"{{ keyword }}"</b>
        </h2>
        <div class="arr-post-content" id="itemContainer">
            {% if total > 0 %}
                <!-- search results for posts -->
                {% if posts %}
                    {% for item in posts %}
                        <div class="arr-search-item">
                            <h3><a href="/{{ item.id }}/{{ item.alias }}">{{ item.title }}</a></h3>

                            <div class="arr-post-intro">
                                {% if not item.intro_text or item.intro_text == '' %}
                                    {{ item.full_text|strip_tags('<b>')|truncate(300)|mark_search_key(keyword)|safe }}
                                {% else %}
                                    {{ item.intro_text|mark_search_key(keyword)|safe }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- search results for apis -->
                {% if apis %}
                    {% for item in apis %}
                        <div class="arr-search-item">
                            <h3><a href="/documentation/{{ item.section.alias }}/{{ item.alias }}">{{ item.title }}</a>
                            </h3>
                            <span>{{ '< APIs document ver: 1.0.0 >' }}</span>

                            <div class="arr-post-intro">
                                {{ item.html|strip_tags('<b>')|truncate(300)|mark_search_key(keyword)|safe }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            {% else %}
                <h4>Please try a different keyword.</h4>
            {% endif %}
            {% if link %}
                {{ totalPage|pagination(currentPage, link)|safe }}
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block jsExtends %}
{% endblock %}